






<div class="battle-container">    
    <div class="container">
        <div class="flex-container"> 
            <div class="characterContainer">
                <H2 class="health">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Health : (PLAYERHEALTH) </H2>
                <img src="/assets/images/Paladin.png" alt="Paladin" sizes="width=287" height="500"><br>
                
            </div>
            <div><br><br><br>
                <h3 class="battleText">Placeholder text where the battle log goes</h3>
            </div>  
            <div>
                <H2 class="health">Health : (MONSTERHEALTH) </H2>
                <img src="/assets/images/Werewolf.png" alt="Werewolf" sizes="width=287" height="500">
            </div>
        </div>
    </div>
</div>
<div class="attackmove-background">
    <div class="center">    
        <button>Physical Attack</button><br><br>
        <button>Agility Attack</button><br><br>
        <button>Magic Attack</button><br><br>
    </div>
</div>
