/* You can add global styles to this file, and also import other style files */
body {    
    background-color: rgb(5, 3, 46);
}

.flex-containerSunny {
    display: flex;
    background-image: url("~/assets/images/Sunny.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    flex-wrap:nowrap;    
    justify-content: space-between;
    
}
.flex-containerCloudy {
    display: flex;
    background-image: url("~/assets/images/Cloudy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.flex-containerRainy {
    display: flex;
    background-image: url("~/assets/images/Rainy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.centerDiv {
    width: 20%;
    margin: 0 auto;
}
.attackmove-background {
    display: flex;    
background-image: url("~/assets/images/attackBackground.png");
    background-repeat: no-repeat;
    
    
}
.attack-animate {
    position: relative;
animation: moveAttackText 3.75s;
}
.center {
    display:flex;
    padding: 27px 5px 30px 70px;
    margin: 20px;   
    
}
.battle-container {
    position: relative;
    border: 4px silver;
        
        animation: moveVideoText 3.75s;
}
@keyframes moveVideoText {
    from {
        top: -100vw;
    }

    /* This sets the position of the video text to above the viewport */
    to {
        top: 0vw;
    }
}
@keyframes moveAttackText {
    from {
        top: +100vw;
    }    
    to {
        top: 0vw;
    }
}
.health {
    
    color:red;
}
.battleText {
    color:black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
}

.navbar-container {
    background-color: rgb(28, 24, 135);    
    width: 25%;
    padding: 20px 105px;
    border-radius: 15px 50px 30px;
}
.hover:hover {
    background-color: rgb(230, 230, 217);
}
.BasicFont {
    color:white;    
    
}
.weather-container {
    text-align: center;
}
.create-char-container {
    display:flex;
    justify-content: center;
    margin-left: -300px;
    background-image: url("~/assets/images/CreateAccountBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.characterDesriptions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
