

<div class="navbar-container">
    <a class="btn" style="color:white"  routerLinkActive="active" routerLink="/login">
        Login/Out
    </a>&nbsp;&nbsp;&nbsp;&nbsp;

<a class="btn"  style="color:white" onclick="loadProfile()" id="playerProfile" routerLinkActive="active" routerLink="/playerProfile">
    Player Profile
</a> &nbsp;&nbsp;&nbsp;&nbsp;

<a class="btn" id="fight" onclick="fight()" style="color:white" id="fight" routerLinkActive="active" routerLink="/battleGround">
    Fight in the Battlegrounds!
</a>&nbsp;&nbsp;&nbsp;&nbsp;
 
</div><br>