<a class="btn" routerLinkActive="active" routerLink="/playerProfile">
    Player Profile
</a> &nbsp;&nbsp;&nbsp;&nbsp;
<a class="btn" routerLinkActive="active" routerLink="/login">
    Login/Out
</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a class="btn" routerLinkActive="active" routerLink="/updatePlayer">
    Change Character
</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a class="btn" routerLinkActive="active" routerLink="/battleGround">
    Fight in the Battlegrounds!
</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a class="btn" routerLinkActive="active" routerLink="/registration">
    Create New Account
</a>
<br><br><br>
