

<div class="centerDiv" >
    <h1 style="color:white">Login to Play!</h1>
<form>    
    <input type="text" id="loginform" class="allinputs" placeholder="User name"><br><br>
    <input type="text" class="allinputs" placeholder="Password"><br><br>
    <button type="submit" class="allbuttons" text="Login">Login</button>
</form><br>
<h1 class="BasicFont">Or</h1>
<button onclick="Login()" id="login" type="submit" class="allbuttons" routerLinkActive="active" routerLink="/registration">
    Create New Account
</button>
</div>