

    <div class="centerDiv">
        <h1 class="BasicFont">Create an account!</h1>
        <form>
            <input type="text" id="createaccountform" placeholder="User name"><br><br>
            <input type="text" id="createaccountform" placeholder="Password"><br><br>
            <input type="text" id="createaccountform" placeholder="City"><br><br>           
        </form><br><br>
    </div>
    <div class="create-char-container">
         <form>
             <!--Javascript will be needed to save the variable onclick-->            
            <img src="/assets/images/Paladin.png" alt="Paladin" sizes="width=287" height="500">
            <input type="radio" name="charSelect">  
            <img src="/assets/images/Wizard.png" alt="Paladin" sizes="width=287" height="500">
            <input type="radio" name="charSelect">
            <img src="/assets/images/rogue.png" alt="Paladin" sizes="width=287" height="500">
            <input type="radio" name="charSelect">
            <img src="/assets/images/Warrior.png" alt="Paladin" sizes="width=287" height="500">
            <input type="radio" name="charSelect">                
            </form>
        </div>
        
    
        <div class="centerDiv">            
            <!--Needs to validate that a character was choosen onclick-->
        <button type="submit" text="Create">Create</button>
    </div>
        
