
<div>
    <h1 class="BasicFont">Player Profile</h1>
</div>
<div class="playerContainer">
    <div class="BasicFont">     
         <div class="playercard">
            <div class="playerInfo">
                <h3>Username: {{pUser}}</h3>
                <h3>City: {{pCity}}</h3>
                <h3>SilverCount: {{pSilver}}</h3>
                <h3>Character: {{pCharacter}}</h3>   
            </div>
            <div class="playerCharacter">
                <img *ngIf="pCharacter=='Warrior'" src="{{ImagePath[1]}}" alt="Character Choice" style="width:400px; height: 750px">
                <img *ngIf="pCharacter=='Paladin'" src="{{ImagePath[2]}}" alt="Character Choice" style="width:450px; height: 750px">
                <img *ngIf="pCharacter=='Rogue'" src="{{ImagePath[4]}}" alt="Character Choice" style="width:400px; height: 750px">
                <img *ngIf="pCharacter=='Wizard'" src="{{ImagePath[3]}}" alt="Character Choice" style="width:400px; height: 750px">
        </div>     
                
            <div class="theMarginclass">       <!--Need to adjust layout where new changes is next to current information-->
                <h3 class="BasicFont">If you would like to change your information, please input new data below.</h3>
                <form>       
                    <input type="text" class="allinputs" [(ngModel)]="pCity" name="pCity" id="newCity"  placeholder="City"><br><br>
                    <button (click)="update()" class="allbuttons" text="Update">Update</button>
                </form>
                <form>
                    <h3 class="BasicFont">Change Character</h3>
                    <select [(ngModel)]="pCharacter" name="pCharacter" class="allbuttons">
                        <option value="Default">Default</option>
                        <option value="Paladin">Paladin</option>
                        <option value="Wizard">Wizard</option>  
                        <option value="Rogue">Rogue</option>
                        <option value="Warrior">Warrior</option>        
                    </select><br><br>
                    <button (click)="update()" class="allbuttons" text="Update">Update</button>
                </form>
            </div>                
        </div>
    </div>
</div>
